<header class="main-header">
  <div class="container header-container">
    <div class="logo">
      <a href="../index.html">
        <img src="../images/scholarshub-icon-white.png" alt="Scholars Hubs Logo Icon" class="logo-icon">
        <span class="logo-text">SCHOLARS</span>
        <span class="logo-text sub-text">HUBS</span>
      </a>
    </div>
    <div class="nav-icons">
      <div class="search-bar">
        <input type="text" placeholder="Search...">
        <button type="submit" aria-label="Search">🔍</button>
      </div>
      <button class="hamburger-menu" aria-label="Toggle navigation">
        ☰ </button>
    </div>
  </div>
</header>